<ion-content color="formiwhite">
  <ion-header>
    <ion-toolbar color="formiwhite" class="toolbar-style">
      <img style="height: 2em; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);" alt="Formi Logo" src="/assets/img/formiLogo.png"/>
    </ion-toolbar>
  </ion-header>
  
    <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides pager>
          <ion-slide>
            <div class="slide">
              <img src="/assets/img/onboarding.jpg" />
              <ion-text style="font-family:SFProText" color="formibrightred">
                Lorem ipsum dolor sit ameting
              </ion-text><br/>
              <ion-text class="ion-padding-top" style="font-family:SFProText; font-weight: 100; font-size: 0.6em; display: block;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, ser do eiusmod tempor incididunt ut labore et dolore magna</ion-text>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="slide">
              <img src="/assets/img/onboarding.jpg" />
              <ion-text style="font-family:SFProText" color="formibrightred">
                Lorem ipsum dolor sit ameting
              </ion-text><br/>
              <ion-text class="ion-padding-top"  style="font-family:SFProText; font-weight: normal; font-size: 0.6em; display: block;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, ser do eiusmod tempor incididunt ut labore et dolore magna</ion-text>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="slide">
              <img src="/assets/img/onboarding.jpg" />
              <ion-text style="font-family:SFProText" color="formibrightred">
                Lorem ipsum dolor sit ameting
              </ion-text><br/>
              <ion-text class="ion-padding-top"  style="font-family:SFProText; font-weight: normal; font-size: 0.6em; display: block;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, ser do eiusmod tempor incididunt ut labore et dolore magna</ion-text>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="g-custom-footer-background">
  <ion-row>
    <ion-col>
      <ion-button routerLink="/signin" color="formidarkblue" expand="block" fill="outline" mode="md">
        <ion-text class="ion-text-capitalize" style="font-family:SFProText; font-weight: bold; font-size: 1.2em;">Sign In</ion-text>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button routerLink="/signup" color="formidarkblue" expand="block" mode="md">
        <ion-text class="ion-text-capitalize" style="font-family:SFProText; font-weight: bold; font-size: 1.2em;">Sign Up</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
