<ion-header>
  <ion-toolbar color="formiwhite">
    <img alt="Formi Logo " src="/assets/img/formiLogo.png"/>
  </ion-toolbar>
</ion-header>

<ion-content color="formiwhite">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides pager>
          <ion-slide>
            <div class="slide">
              <img src="/assets/img/onboarding.jpg" />
            </div>
          </ion-slide>

          <ion-slide>
            <div class="slide">
              <img src="/assets/img/onboarding.jpg" />
            </div>
          </ion-slide>

          <ion-slide>
            <div class="slide">
              <img src="/assets/img/onboarding.jpg" />
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="formibrightred">
          <h3 style="font-family:Poppins-SemiBold">Lorem ipsum dolor sit ameting</h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, ser do eiusmod tempor incididunt ut labore et dolore magna</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="g-custom-footert-background">
  <ion-row>
    <ion-col>
      <ion-button routerLink="/signin" color="formidarkblue" expand="block" fill="outline">
        <p style="font-family:Poppins-Regular">Sign In</p>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button routerLink="/signup" color="formidarkblue" expand="block">
        <p style="font-family:Poppins-Regular">Sign Up</p>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>