<ion-content color="formiwhite">
  <ion-header>
    <ion-toolbar color="formiwhite" class="toolbar-style">
      <img style="height: 2em; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);" alt="Formi Logo" src="/assets/img/formiLogo.png"/>
    </ion-toolbar>
  </ion-header>
    <ion-grid>
    <ion-row>
      <ion-col>
          <ion-icon size="large" name="arrow-back-sharp"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue">
          <h1 style="font-family: SFProText; font-weight: bold;">Create Profile</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family: SFProText;">
          Username*
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="g-custom-input-border" type="string"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family: SFProText;">
          Full Name*
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="g-custom-input-border" type="string"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family: SFProText;">
          Email
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="g-custom-input-border" type="string"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family: SFProText;">
          Mobile No.
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="g-custom-input-border" type="string"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family: SFProText;">
          Date of birth
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="g-custom-input-border" type="string">
          <ion-col size="11">DD/MM/YYYY</ion-col>
          <ion-col><ion-icon name="calendar-outline"></ion-icon></ion-col>
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family: SFProText;">
          Gender
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family: SFProText;">
          <ion-radio-group>
            <ion-item color="formiwhite">
              <ion-radio value="male"></ion-radio>
              <ion-label class="ion-padding-start" style="font-family: SFProText;">Male</ion-label>
              <ion-radio value="female"></ion-radio>
              <ion-label class="ion-padding-start" style="font-family: SFProText;">Female</ion-label>
              <ion-radio value="other"></ion-radio>
              <ion-label class="ion-padding-start" style="font-family: SFProText;">Other</ion-label>
              </ion-item>
          </ion-radio-group>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1">
          <ion-checkbox></ion-checkbox>
      </ion-col>
      <ion-col>
          <ion-text color="formidarkblue" style="font-family: SFProText; font-size: 0.8em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</ion-text>
          <ion-text style="text-decoration: underline; font-family: SFProText; font-size: 0.9em;">Terms and Conditions</ion-text>
      </ion-col>
    </ion-row>

    
    <ion-row>
      <ion-col>
        <ion-button color="formidarkblue" expand="block" routerLink="/homepage"  mode="md">
          <ion-col class="ion-text-start">
            <ion-text class="ion-text-capitalize" color="formiwhite" style="font-family: SFProText; font-size: 1.2em;">
              Next
            </ion-text>
          </ion-col>
          <ion-col class="ion-text-end"><ion-icon name="arrow-forward-outline" style="font-size: 1.5em;"></ion-icon></ion-col>
        </ion-button>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
