<ion-header>
  <ion-toolbar color="formiwhite">
    <img alt="Formi Logo " src="/assets/img/formiLogo.png"/>
  </ion-toolbar>
</ion-header>

<ion-content color="formiwhite">
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue">
          <h1 style="font-family: SFProText; font-weight: bold;">Create Profile</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family: SFProText;">
          Username*
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="g-custom-input-border" type="string"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family: SFProText;">
          Full Name*
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="g-custom-input-border" type="string"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family: SFProText;">
          Email
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="g-custom-input-border" type="string"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family: SFProText;">
          Mobile No.
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="g-custom-input-border" type="string"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family: SFProText;">
          Date of birth
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="g-custom-input-border" type="string">
          DD/MM/YYYY
          <ion-icon slot="primary" name="calendar-outline"></ion-icon>
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family: SFProText;">
          Gender
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family: SFProText;">
          <ion-radio-group>
            <ion-item color="formiwhite">
              <ion-radio value="male"></ion-radio>
              <ion-label class="ion-padding-start">Male</ion-label>
              <ion-radio value="female"></ion-radio>
              <ion-label class="ion-padding-start">Female</ion-label>
              <ion-radio value="other"></ion-radio>
              <ion-label class="ion-padding-start">Other</ion-label>
              </ion-item>
          </ion-radio-group>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family: SFProText;">
          <ion-checkbox></ion-checkbox>
          <ion-text color="formidarkblue" style="font-family: SFProText;">I agree to the ternms and conditions text.</ion-text>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="formidarkblue" expand="block" routerLink="/homepage">
          <ion-col class="ion-text-start"><ion-text color="formiwhite"><p style="font-family: SFProText;">Next</p></ion-text></ion-col>
          <ion-col class="ion-text-end"><ion-icon name="arrow-forward-outline"></ion-icon></ion-col>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
