<ion-content color="formiwhite">
  <ion-header>
    <ion-toolbar color="formiwhite" class="toolbar-style">
      <img style="height: 2em; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);" alt="Formi Logo" src="/assets/img/formiLogo.png"/>
    </ion-toolbar>
  </ion-header>
     <ion-grid>
    <ion-row>
      <ion-col>
          <ion-icon size="large" name="arrow-back-sharp"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue">
          <h1 style="font-family:SFProText; font-variant: bold; margin-bottom: 0;">Sign Up</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family:SFProText; font-variant: medium;">
          via email
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family:SFProText; font-variant: medium;">
          Enter Email ID
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="g-custom-input-border" type="string"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-text color="formidarkblue" style="font-family:SFProText; font-variant: medium;">Enter Password</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="g-custom-input-border" type="password"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-text color="formidarkblue" style="font-family:SFProText; font-variant: medium;">Re-Enter Password</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="g-custom-input-border" type="password"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col>
        <div>
          <ion-button color="formidarkblue" expand="block" routerLink="/complete-profile" mode="md">
            <ion-col size="6" class="ion-text-start">
              <ion-text class="ion-text-capitalize" color="formiwhite" style="font-family:SFProText; font-variant: medium; font-size: 1.2em;">
                Sign Up
              </ion-text>
            </ion-col>
            <ion-col size="6" class="ion-text-end"><ion-icon name="arrow-forward-outline" style="font-size: 1.5em;"></ion-icon></ion-col>
          </ion-button>
        </div>
     
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="g-custom-footer-background">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text
          color="formidarkblue"
          style="font-family: SFProText; font-weight: normal; font-size: 1em;"
          >or sign up via</ion-text
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="formidarkblue" expand="block" mode="md" routerLink="/signupotp">
          <ion-text
            color="formiwhite"
            style="
              font-family: SFProText;
              font-weight: normal;
              font-size: 1em;
            ">
            OTP
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-button color="formidarkblue" expand="block" mode="md">
          <ion-text
            color="formiwhite"
            style="
              font-family: Poppins;
              font-weight: bold;
              font-size: x-large;
            "
            class="ion-text-lowercase"
          >
            facebook
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
