<ion-header>
  <ion-toolbar color="formiwhite">
    <img alt="Formi Logo " src="/assets/img/formiLogo.png"/>
  </ion-toolbar>
</ion-header>

<ion-content color="formiwhite">
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue">
          <h1 style="font-family:SFProText; font-variant: bold;">Sign Up</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family:SFProText; font-variant: medium;">
          via otp
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="formidarkblue" style="font-family:SFProText; font-variant: medium;">
          Enter Mobile No.
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="g-custom-input-border" type="tel"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col>
        <div>
          <ion-button color="formidarkblue" expand="block" routerLink="/complete-profile">
            <ion-col size="6" class="ion-text-start">
              <ion-text color="formiwhite" style="font-family:SFProText; font-variant: medium;">
                Request OTP
              </ion-text>
            </ion-col>
            
            <ion-col size="6" class="ion-text-end">
              <ion-icon name="arrow-forward-outline" size="large"></ion-icon>
            </ion-col>
          </ion-button>
        </div>
     
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-text style="font-family:SFProText; font-style: bold;">or sign in via</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-button color="formidarkblue" expand="block">
          <ion-text color="formiwhite" style="font-family:SFProText; font-variant: medium;">
            Email
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="formidarkblue" expand="block">
          <ion-text color="formiwhite" style="font-family:SFProText; font-variant: medium; font-size: x-large;" class="ion-text-lowercase">
          facebook
        </ion-text>
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>